#backGroundColor{
background: rgb(255,246,173);
background: -moz-linear-gradient(172deg, rgba(255,246,173,1) 0%, rgba(255,170,248,1) 67%);
background: -webkit-linear-gradient(172deg, rgba(255,246,173,1) 0%, rgba(255,170,248,1) 67%);
background: linear-gradient(172deg, rgba(255,246,173,1) 0%, rgba(255,170,248,1) 67%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff6ad",endColorstr="#ffaaf8",GradientType=1);
}
.container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.second_grid{
	margin-top: 40px;
}
.first_content>h1{
	line-height: 4.9;
	font-size: 45px;

}
.first_content>p{
	letter-spacing: 1px;
	font-size: 18px;
	width: 78%;
	padding-bottom: 80px;
}
.first_content{
	width: 80%;
	margin: auto;
	text-align: left;
}
.box_center{
	display: flex;
}
.first_content>button{
	border: none;
	background-color: #ff7171;
	color: white;
	padding: 15px 80px 15px 80px;
	font-size: 15px;
	font-weight: 100;
	cursor: pointer;
    transition: all 0.2s ease;
}
.first_content>button:hover{
	letter-spacing: 4px;
}
.container>div{
	overflow: hidden;
}
.container>div>img{
	width: 100%;
	height: 100%;
	transition: 0.5s all ease-in-out;
	cursor:pointer;
}

.big_img:hover img {
	transform: scale(1.5);
}

@media only screen and (max-width: 600px) and (min-width: 150px){
	.container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.first_content>h1{
		line-height: 1.9;
		font-size: 30px;
	
	}
	.first_content{
		width: auto;
	}
	.first_content>p{
		letter-spacing: 1px;
		font-size: 18px;
		width: auto;
		padding-bottom: 40px;
	}
}

@media only screen and (max-width: 1450px) and (min-width: 610px){
	.first_content>h1{
		line-height: 2.9;
		font-size: 30px;
	
	}
	.first_content{
		width: auto;
	}
	.first_content>p{
		letter-spacing: 1px;
		font-size: 18px;
		width: auto;
		padding-bottom: 40px;
	}
}



.second_flex_iteam{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.first_iteam_set>div{
	/* border: 1px solid green; */
	width: 300px;
	height: 216px;
	overflow: hidden;
}
.first_iteam_set>div>img{
	width: 100%;
	height: 100%;
	transition: 0.5s all ease-in-out;
	cursor:pointer;
}
.first_iteam_set>div:hover img {
	transform: scale(1.5);
}
.second_iteam_set{
	/* border: 1px solid green; */
	width: 300px;
	height: auto;
	overflow: hidden;
}
.second_iteam_set>img{
	width: 100%;
	height: 100%;
	transition: 0.5s all ease-in-out;
	cursor:pointer;

}
.second_iteam_set:hover img {
	transform: scale(1.5);
}

.second_flex_iteam2{
	display: flex;
	align-items: center;
}
.lorem_bckg{
	background-color: #ff7171;
	width: 500px;
	padding: 20px 20px 20px 20px;
}
.lorem_bckg>p{
	/* margin-top: -70px; */
	margin-bottom: 40px;
}
.lorem_bckg>h1{
	margin-bottom: 30px;
	font-size: 60px;
}

.lorem_bckg>button{
	border: none;
	display: flex;
	align-items: center;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.2s ease;
}
.lorem_bckg>button:hover{
	letter-spacing: 4px;
}

@media only screen and (max-width: 600px) and (min-width: 150px){
	.second_flex_iteam{
		flex: none;
		/* display: grid; */
		/* grid-template-columns: repeat(1,1fr);  */
		display: block;
		margin: auto;
		
	}
	.lorem_bckg{
		background-color: #ff7171;
		width: auto;
		/* padding: 20px 20px 20px 20px; */
	}
	.first_iteam_set{
		margin-bottom: 10px;
	}
	.second_iteam_set{
		
		width: auto;
		
	}
	.first_iteam_set>div{
		/* border: 1px solid green; */
		width: auto;
		height: 216px;
		overflow: hidden;
	}
}


@media only screen and (max-width: 1450px) and (min-width: 610px){
	.second_flex_iteam{
		flex: none;
		/* display: grid; */
		/* grid-template-columns: repeat(1,1fr);  */
		display: block;
		margin: auto;
		
	}
	.lorem_bckg{
		background-color: #ff7171;
		width: auto;
		/* padding: 20px 20px 20px 20px; */
	}
	.first_iteam_set{
		margin-bottom: 10px;
	}
	
	
}